In [1]:
pwd

'/home/tadi'

In [15]:
a=26 +2
print(type(a))

<class 'int'>

In [16]:
a

28

In [12]:
.1+.2-.3

5.551115123125783e-17

In [18]:
a=["nani","nanu"]

In [19]:
a

['nani', 'nanu']

In [20]:
type(a)

list

In [21]:
a="nani"
a[:]

'nani'

In [22]:
a[1:]

'ani'

In [23]:
a[-1:]

'i'

In [24]:
a[1]

'a'

In [25]:
a[-1::]

'i'

In [26]:
a[-1:0]

''

In [31]:
a[-1::-1]

'inan'

In [37]:
k=[]

In [39]:
for i in range(1,3):
    k.append(i)

In [40]:
k

[1, 2]

In [43]:
'tinker'[1:2]

'i'

In [62]:
x="Narayanareddy Nani"

In [67]:
y=x.split("na")

In [68]:
print(y)

['Naraya', 'reddy Nani']

In [70]:
a,b=10,20

In [72]:
print(f"a={a},b={b}")

a=10,b=20

In [73]:
result =1.22222

In [75]:
print(f"the value {result:1.3f}")

the value 1.222

In [76]:
k=[1,2,3,"nani"]

In [77]:
k.reverse()

In [78]:
k

['nani', 3, 2, 1]

In [80]:
k.pop()

1

In [81]:
k

['nani', 3, 2]

In [82]:
k.pop(0)

'nani'

In [83]:
k

[3, 2]

In [84]:
k.append(1)

In [85]:
k

[3, 2, 1]

In [86]:
k.sort()

In [102]:
k= [1,2,5,4]

In [103]:
 # Example list

max_value = float('-inf')  # Initialize max_value to negative infinity

for i in k:
    if max_value < i:
        max_value = i

print(max_value)

5

In [104]:
len(k)

4

In [107]:
demo_dict={1:"one",2:"two"}

In [109]:
demo_dict[1]

'one'

In [110]:
k={}

In [111]:
k

{}

In [112]:
a=()

In [113]:
a

()

In [114]:
j=[]

In [115]:
j

[]

In [116]:
type(a)

tuple

In [117]:
a=(1,2,3,4)

In [118]:
a[1]

2

In [119]:
r=list(a)

In [120]:
r

[1, 2, 3, 4]

In [121]:
r.append(6)

In [122]:
r

[1, 2, 3, 4, 6]

In [123]:
a=tuple(r)

In [124]:
a

(1, 2, 3, 4, 6)

In [125]:
a.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [126]:
r.reverse()

In [127]:
r

[6, 4, 3, 2, 1]

In [128]:
r.sort()

In [129]:
r

[1, 2, 3, 4, 6]

In [134]:
r.insert(1,6)

In [135]:
r

[1, 6, 2, 3, 4, 6, 1]

In [136]:
s=set(r)

In [137]:
s

{1, 2, 3, 4, 6}

In [146]:
1 and 0

0

In [145]:
0 or 2

2

In [147]:
ls

 admin-policy.json         log1.txt               Public/
 anaconda3/                logfile.log            snap/
 demo.tf                   main.tf                Templates/
 demo.txt*                 miniconda3/            terraform.tfstate
 Desktop/                  minikube-linux-amd64   terraform.tfstate.backup
 docker-compose-prod.yml   Music/                 terraform.zip
 Documents/                myagent/               Untitled.ipynb
 Downloads/                mycert.crt             variable.tf
 eclipse-workspace/        mycert.key             Videos/
 kubeconfig.yaml           nani.txt              'VirtualBox VMs'/
 kubectl                   Pictures/

In [148]:
cat log1.txt

hellow world
hellow world

In [149]:
%%time
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt
CPU times: user 2.01 ms, sys: 1.27 ms, total: 3.29 ms
Wall time: 2.56 ms

In [150]:
cat myfile.txt

Hello this is a text file
this is the second line
this is the third line

In [151]:
myfile= open('myfile.txt')

In [152]:
myfile.close()

In [153]:
myfile= open('myFile.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'myFile.txt'

In [154]:
pwd

'/home/tadi'

In [156]:
ls

 admin-policy.json         log1.txt               Pictures/
 anaconda3/                logfile.log            Public/
 demo.tf                   main.tf                snap/
 demo.txt*                 miniconda3/            Templates/
 Desktop/                  minikube-linux-amd64   terraform.tfstate
 docker-compose-prod.yml   Music/                 terraform.tfstate.backup
 Documents/                myagent/               terraform.zip
 Downloads/                mycert.crt             Untitled.ipynb
 eclipse-workspace/        mycert.key             variable.tf
 kubeconfig.yaml           myfile.txt             Videos/
 kubectl                   nani.txt              'VirtualBox VMs'/

In [157]:
myfile.close()

In [159]:
myfile= open('myfile.txt')

In [160]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [163]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [164]:
myfile.seek(0)

0

In [165]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [166]:
myfile1=open('myfile.txt')

In [167]:
myfile1.close()

In [168]:
myfile.seek(0)

0

In [169]:
myfile.close()

In [175]:
with open('myfile.txt') as myfile:
    mycontent = myfile.read()

In [177]:
mycontent

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [181]:
%%markdown
#http://codingbat.com/python
#https://projecteuler.net/archives
#http://www.codeabbey.com/index/task/list_list
#https://www.reddit.com/r/dailyprogrammer
#http://www.pythonchallenge.com

#http://codingbat.com/python
#https://projecteuler.net/archives
#http://www.codeabbey.com/index/task/list_list
#https://www.reddit.com/r/dailyprogrammer
#http://www.pythonchallenge.com

In [1]:
mylist=[1,2,3,4,5,6,7,8]

In [192]:
result =0
for num in mylist:
    if num%2 == 0:
        result +=num
print(result)

20

In [196]:
min(mylist)

1

In [197]:
max(mylist)

TypeError: 'float' object is not callable

In [198]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
max(mylist)

8

In [9]:
myinput=(input("enter the input"))
type(myinput)

enter the input23

str

In [4]:
myinput

23

In [5]:
type(myinput)

int

In [21]:
st = 'print only the words that starts with s in this sentence Sentence'

In [22]:
mylist_st=list(st.split(" "))

In [23]:
mylist_st

['print',
 'only',
 'the',
 'words',
 'that',
 'starts',
 'with',
 's',
 'in',
 'this',
 'sentence',
 'Sentence']

In [26]:
for word in mylist_st:
    if word[0].upper() == 'S':
        print(word)

starts
s
sentence
Sentence

In [27]:
for i in range(0,11):
    if(i%2 == 0):
        print(i)

0
2
4
6
8
10

In [28]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [30]:
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [31]:
st1= 'print every word in this sentence that has an even number of letters'

In [32]:
even_list= st1.split(" ")

In [33]:
for word in even_list:
    if len(word)%2 == 0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [35]:
for i in range(1,101):
    if i%3 == 0 and i%5 == 0:
        print("FizzBuzz")
    elif i%3 ==0 and i%5 !=0:
        print("Fizz")
    elif i%3 !=0 and i%5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [36]:
st2='Create a list of the first letters of every word in this string'

In [37]:
mylist1=[x[0] for x in st2.split(" ")]

In [38]:
mylist1

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [40]:
help(mylist1.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [41]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [42]:
def even_numbers(limit):
    for n in range(limit):
        if n % 2 == 0:
            yield n

In [47]:
for num in even_numbers(10):
    print(num)

0
2
4
6
8

In [49]:
def fibonacci_sequence(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# Use the generator to print the first 10 Fibonacci numbers
for number in fibonacci_sequence(3):
    print(number)

0
1
1

In [68]:
def my_fun_even(a):
    if a%2 == 0:
        print('even')
    else:
        print("odd")

In [69]:
my_fun_even(3)

odd

In [70]:
from random import shuffle

In [71]:
my_list=[" "," ",'0']

In [72]:
def shuffle_fun(list):
    shuffle(list)
    return list

In [79]:
shuffle_fun(my_list)

['0', ' ', ' ']

In [87]:
def guss_fun():
    guess=''
    while guess not in ['0','1','2']:
        guess= input("pick a number from : 0,1,or 2 ")
    return int(guess)

In [88]:
guss_fun()

pick a number from : 0,1,or 2 8
pick a number from : 0,1,or 2 6
pick a number from : 0,1,or 2 1

1

In [89]:
def check_guess(mylist,guess):
    if mylist[guess]== '0':
        print("Correct")
    else:
        print("wrong")

In [91]:
shuffle_list= shuffle_fun(my_list)
guess= guss_fun()
check_guess(shuffle_list,guess)

pick a number from : 0,1,or 2 1
Correct

In [92]:
def lesser_of_two_evens(a,b):
    if a%2 ==0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [94]:
lesser_of_two_evens(2,3)

3

In [95]:
def animal_crakers(text):
    list = text.split(" ")
    if list[0][0] == list[1][0]:
        return True
    else:
        return False

In [97]:
animal_crakers('Levelheaded lama')

False

In [99]:
def make_20(a,b):
    return a+b == 20 or a==20 or b==20

In [103]:
make_20(20,20)

True

In [110]:
def old_mac(name):
    
    list1 = list(name)
    for i in range(len(name)):
        if i==0 or i==3:
            list1[i]= list1[i].upper()
    return ''.join(list1)

In [111]:
old_mac('nar')

'Nar'

In [122]:
def master_yodha(text):
    char =text.split(" ")
    print(char)
    char.reverse()
    return ' '.join(char)

In [123]:
master_yodha('we are ready')

['we', 'are', 'ready']

'ready are we'

In [124]:
def almost(n):
    list1= range(90,110)
    list2 = range(190,210)
    return n in list1 or n in list2

In [125]:
almost(90)

True

In [127]:
almost(104)

True

In [149]:
def has_33(num):
    for i in range(len(num)):
        if i != len(num)-1 and num[i] == num[i+1]:
            return True
        
    return False

In [153]:
has_33(['h','e','l','l'])

True

In [172]:
def paper_doll(text):
    char=list(text)
    for i in range(len(char)):
        char[i]=char[i]*3
        
    return ''.join(char)

In [173]:
paper_doll('nani')

'nnnaaannniii'

In [161]:
a= "i"
a*3

'iii'

In [174]:
def square(a):
    return a**2

In [175]:
my_num=[1,2,3,4,5]

In [179]:
list2=list(map(square,my_num))

In [180]:
list2

[1, 4, 9, 16, 25]

In [186]:
list(map(lambda x: x*2 , filter(lambda x: x%2 ==0,list2)))

[8, 32]

TypeError: 'int' object is not iterable

In [193]:
class Greeter:
    def __init__(self):
        pass
        #self.name = name

    def greet(self):
        return f"Hello, self.name!"

alice = Greeter()
print(alice.greet())  # Output: Hello, Alice!

Hello, self.name!

In [194]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [195]:
vol(2)

33.49333333333333

In [203]:
def ran_check(num,low,high):
    return num in range('low','high')

In [204]:
ran_check('c','a','z')

TypeError: 'str' object cannot be interpreted as an integer

In [208]:
def low_up(text):
    count_low= 0
    count_up =0
    for i in text:
        if i.isupper():
            count_up +=1
        elif i.islower():
            count_low +=1
        else:
            pass
    return count_low,count_up

In [209]:
low_up('Narayana?')

(7, 1)

In [210]:
def unique_list(lst):
    return list(set(lst))

In [211]:
unique_list([1,1,2,2,3,3,4,4])

[1, 2, 3, 4]

In [240]:

def pallindrom(s):
    s=s.replace(' ','')
    if s== s[::-1]:
        return ('given {} is a pallindrom'.format(s))
    else:
        return ('given {} is not a pollindrom'.format(s))

In [242]:
%%time
pallindrom('nun')

CPU times: user 11 µs, sys: 2 µs, total: 13 µs
Wall time: 17.6 µs

'given nun is a pallindrom'

In [258]:
def recurse_fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*recurse_fact(n-1)

In [259]:
%%time
fact = recurse_fact(3)
print(fact)

6
CPU times: user 54 µs, sys: 12 µs, total: 66 µs
Wall time: 68.2 µs

In [231]:
import math as m

In [236]:
m.gcd(4,8)

4

In [237]:
m.pi

3.141592653589793

In [248]:
n= 'nani'

In [2]:
class Base:
    def greet(self):
        return "Hello base"
class ClassA(Base):
    def greet(self):
        return "Hello from ClassA"

class ClassB(Base):
    def greet(self):
        return "Hello from ClassB"

class ClassC(ClassA, ClassB):
    def greet(self):
        return "Hello from ClassC"

# Create an instance of ClassC
obj = ClassC()
print(obj.greet())  # Output: Hello from ClassC

Hello from ClassC

In [49]:
def user_choice():
    choice = 'False'
    Valid_range = False
    while choice.isdigit() == False or valid_range == False:
        choice = input("Please enter a number (0-10):")
        if choice.isdigit() == False:
            print("invalid input! only digits allowed ")
        if choice.isdigit() == True:
            if int(choice) in range(0,11):
                valid_range = True
            else:
                print("Sorry the number you entered is out of acceptable range (0-10)")
                valid_range = False
    return int(choice)

In [50]:
user_choice()

Please enter a number (0-10):10

10

In [51]:
game_list = [0,1,2]

In [52]:
def display_game(lst):
    print("Here is the current list")
    print(lst)

In [53]:
display_game(game_list)

Here is the current list
[0, 1, 2]

In [54]:
def position_choice():
    choice = 'Wrong'
    while choice not in ['0','1','2']:
        choice = input("pick a position (0,1,2): ")
        
        if choice not in ['0','1','2']:
            print("Sorry, invalid choice! ")
            
    return int(choice)

In [55]:
def replacement_choice(game_list,position):
    user_placement= input("type a string to place at position: ")
    game_list[position]= user_placement
    return game_list

In [56]:
replacement_choice(game_list,1)

type a string to place at position: nani

[0, 'nani', 2]

In [57]:
def gameon_choice():
    choice = 'Wrong'
    while choice not in ['Y','N']:
        choice = input("Keep playing? (Y or N) ")
        
        if choice not in ['Y','N']:
            print("Sorry, I don't understand,please choose Y or N")
            
    if choice == 'Y':
        return True
    else:
        return False

In [58]:
game_on = True
game_list = [0,1,2]

while game_on:
    display_game(game_list)
    position = position_choice()
    game_list=replacement_choice(game_list,position)
    display_game(game_list)
    game_on = gameon_choice()

Here is the current list
[0, 1, 2]
pick a position (0,1,2): two
Sorry, invalid choice!
pick a position (0,1,2): 0
type a string to place at position: nani
Here is the current list
['nani', 1, 2]
Keep playing? (Y or N) Y
Here is the current list
['nani', 1, 2]
pick a position (0,1,2): 0
type a string to place at position: zero
Here is the current list
['zero', 1, 2]
Keep playing? (Y or N) N

In [1]:
from IPython.display import clear_output

def display_board(board):
    clear_output()
    print(board[7]+'|'+board[8]+'|'+board[9])
    print(board[4]+'|'+board[5]+'|'+board[6])
    print(board[1]+'|'+board[2]+'|'+board[3])

In [2]:
board = ['#','X','O','X','O','X','O','X','O','X']
display_board(board)
display_board(board)

X|O|X
O|X|O
X|O|X

In [3]:
def player_input():
    
    marker= ''
    while not (marker =='X' or marker == 'O'):
        marker = input('Player1: choose X or O: ').upper()
    if marker == 'X':
        return  ('X','O')
    else:
        return ('O','X')

In [4]:
def place_marker(board,marker,position):
    board[position]= marker

In [5]:
def win_check(board, mark):
    return ((board[7]== board[8]== board[9]== mark) or
           (board[4]== board[5]== board[6]== mark) or
           (board[1]== board[2]== board[3]== mark) or
           (board[7]== board[4]== board[1]== mark) or
           (board[8]== board[5]== board[2]== mark) or
           (board[9]== board[6]== board[3]== mark) or
           (board[7]== board[5]== board[3]== mark) or
           (board[1]== board[5]== board[9]== mark) )

In [6]:
import random

def choose_first():
    flip =random.randint(0,1)
    if flip == 0:
        return 'player 1'
    else:
        return 'player 2'

In [7]:
def space_check(board,position):
    return board[position] == ' '

In [8]:
def full_board_check(board):
    for i in range(1,10):
        if space_check(board,i):
            return False
    return True

In [9]:
def player_choice(board):
    position = 0
    
    while position not in [1,2,3,4,5,6,7,8,9] or not space_check(board,position):
        position = int(input('choose a position: (1-9)'))
    return position

In [10]:
def replay():
    choice= input("play again? Enter Yes or No")
    return choice == 'Yes'

In [13]:
# while loop to keep running the game
print('Welcome to Tic TAC TOE')
while True:
    #play the game
    # set everything up (board,Whos First, Choose Markers X,O)
    the_board = [' ']*10
    player1_marker,player2_marker = player_input()
    turn = choose_first()
    print(turn + ' will go first')
    
    play_game = input('ready to play? y or n? ')
    if play_game == 'y':
        game_on = True
    else:
        game_on = False
        
    while game_on:
        if turn == 'player 1':
            display_board(the_board)
            position = player_choice(the_board)
            place_marker(the_board,player1_marker,position)
            
            if win_check(the_board,player1_marker):
                display_board(the_board)
                print('Player 1 Has WON!!')
                game_on = False
            else:
                if full_board_check(the_board):
                    display_board(the_board)
                    print('TIE GAME!')
                    game_on = False
                else:
                    turn = 'player 2'
        else:
            display_board(the_board)
            position = player_choice(the_board)
            place_marker(the_board,player2_marker,position)
            
            if win_check(the_board,player2_marker):
                display_board(the_board)
                print('Player 2 Has WON!!')
                game_on = False
            else:
                if full_board_check(the_board):
                    display_board(the_board)
                    print('TIE GAME!')
                    game_on = False
                else:
                    turn = 'player 1'
            
            
            
    if not replay():
        break
# break out of the while loop on reply ()

X| |
O|X|O
X|O|X
Player 1 Has WON!!
play again? Enter Yes or NoNo

In [14]:
class Line:
    def __init__ (self,coor1,coor2):
        self.coor1=coor1
        self.coor2=coor2
    def distance(self):
        result = ((self.coor2[0]-self.coor1[0])**2+(self.coor2[1]-self.coor1[1])**2)**.5
        return result
    def slop(self):
        pass

In [17]:
line=Line((3,2),(8,10))

In [22]:
round(line.distance(),2)

9.43

In [24]:
class Account():
    def __init__(self,owner,balance):
        self.owner= owner
        self.balance = balance
    def deposit(self,amount):
        self.balance= self.balance + amount
        
    def withdraw(self,amount):
        if self.balance >= amount:
            self.balance = self.balance-amount
            print(f" amount {amount} successfully withdraw from your account current balance is {self.balance}")
        else:
            print("Insufficient Funds please chose less than or equal to {}".format(self.balance))

In [26]:
my_account= Account('Narayana',6000)

In [27]:
my_account.owner
my_account.balance
my_account.deposit(4000)
my_account.withdraw(6000)

 amount 6000successfully withdraw from your account current balance is 4000

In [28]:
my_account.owner

'Narayana'

In [29]:
my_account.withdraw(4000)

 amount 4000successfully withdraw from your account current balance is 0

In [30]:
my_account.balance

0

In [31]:
my_account.withdraw(500)

Insufficient Funds please chose less than or equal to 0

In [33]:
my_account.balance = 5000

In [34]:
my_account.balance

5000

In [36]:
import numpy as np

In [38]:
k=[1,2,3,45,5]

In [39]:
r= np.array(k)

In [40]:
r

array([ 1,  2,  3, 45,  5])

In [41]:
del r

In [48]:
%%markdown
#TRY AND EXCEPT BLOCK

#TRY AND EXCEPT BLOCK

In [54]:
for i in ['a','b','c']:
    try:
        print(i**2)
    except :
        print("error")

error
error
error

In [55]:
def count_duplicates(collection):
    counts = {}
    for item in collection:
        if item in counts:
            counts[item] += 1
        else:
            counts[item] = 1
    return counts

# Example usage
my_collection = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print(count_duplicates(my_collection))

{1: 1, 2: 2, 3: 3, 4: 4}

In [51]:
def turn():
    for i in range (5):
        yield i

In [52]:
for i in turn():
    print(i)

0
1
2
3
4

In [58]:
def gen_nums () :
    n = 0
    while n < 4:
        yield n
        n += 1
    yield 42

In [59]:
for num in gen_nums () :
    print ( num )

0
1
2
3
42

In [60]:
pwd

'/home/tadi'

In [62]:
cd python-demo/

/home/tadi/python-demo

/usr/lib/python3/dist-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [63]:
def house_records_from_file ( path ):
lines = lines_from_file ( path )
for house in house_records ( lines ):
yield house
# Then in your program :
for house in house_records_from_file (" housedata . txt "):
print ( house [ " address " ])

'/home/tadi/python-demo'

In [236]:
def read_file(path):
    with open(path)as handle:
        for line in handle:
            yield line.rstrip("\n")

In [237]:
nani= read_file('house1.txt')

In [238]:
key, value = next(nani).split(':',1)
print(key,value)

address   1423 99 th Ave

In [239]:
print(key)

address

In [250]:
def house_records(lines):
    record = {}
    for line in lines:
        if line == '':
            yield record
            record = {}
            continue
        
        key,value = line.split(': ',1)
        record [key.strip()] = value
    yield record

In [255]:
def house_records_from_file(path):
    lines = read_file(path)
    #for house in house_records(lines):
    yield from house_records(lines)

In [256]:
for house in house_records_from_file('house1.txt'):
    print(house)
    print(house['address'])

{'address': '1423 99 th Ave', 'square_feet': '1705', 'price_usd': '340210'}
1423 99 th Ave
{'address': '24257 Pueblo Dr', 'square_feet': '2305', 'price_usd': '170210'}
24257 Pueblo Dr
{'address': '127 Cochran', 'square_feet': '2068', 'price_usd': '320500'}
127 Cochran

In [257]:
k=[1,2,3,4,5,6]

In [258]:
square= lambda x: x**2

In [262]:
print(list((map(square,k))))

[1, 4, 9, 16, 25, 36]

In [249]:
list()

'nani'

In [281]:
for i in range(1,5):   
    if i%2 != 0:
        print(i,end="")
    else:
        print(i,end='')

1234

In [298]:
def printlog ( func ) :
    def wrapper (*args,**kwargs) :
        print ( " CALLING : " + func . __name__ )
        return func (*args,**kwargs )
    return wrapper
@printlog
def foo (x ) :
    print ( x + 2)

In [299]:
foo(3)

 CALLING : foo
5

In [300]:
@printlog
def baz(x,y):
    return x*y

In [301]:
baz(2,3)

 CALLING : baz

6

In [347]:
def data_dec(func):
    data={'total':0,'count':0}
    def wrapper(*args,**kwargs):
        val = func(*args,**kwargs)
        data['total'] += val
        data['count'] += 1
        print(f"average {func.__name__} is average {data['total']/data['count']:.01f}")
        return func(*args,**kwargs)
    wrapper.data =data
    return wrapper

In [348]:
@data_dec
def foo1(x):
    return x+2

In [355]:
foo1(3)

average foo1 is average 5.0

5

In [350]:
@data_dec
def bar(x):
    return x+3

In [357]:
bar(3)

average bar is average 6.0

6

In [356]:
foo1.data

{'total': 10, 'count': 2}

In [358]:
bar.data

{'total': 12, 'count': 2}

In [359]:
class Prefixer :
    def __init__ ( self , prefix ):
        self . prefix = prefix
    def __call__ ( self , message ):
        return self . prefix + message

In [362]:
print(Prefixer)

<class '__main__.Prefixer'>

In [363]:
l= Prefixer('nani')

In [366]:
print(l('nani'))

naninani

In [367]:
class CountCalls :
def __init__ ( self , func ) :
self . func = func
self . count = 1
def __call__ ( self , * args , ** kwargs ):
print ( f " # of calls : { self . count }")
self . count += 1
return self . func (* args , ** kwargs )
@CountCalls
def foo (x ) :
return x + 2

IndentationError: expected an indented block after class definition on line 1 (2214840482.py, line 2)

In [369]:
class CountCalls:
    def __init__(self,func):
        self.func=func
        self.count =1
    def __call__(self,*args,**kwargs):
        self.count +=1
        return self.func(*args,**kwargs)

In [370]:
@CountCalls
def foo2(x):
    return x*2

In [372]:
foo2(2)

4

In [410]:
def money(money):
    t=()
    try:
        t=money.split('.')
        dollars= int(t[0].strip('$'))
        cents= int(t[1])
         
    except Exception as err:
        print(err)

In [411]:
money('money')

invalid literal for int() with base 10: 'money'

In [389]:
n='$2'
n.strip('$')

'2'

In [412]:
import logging 
logging . debug ( " Small detail . Useful for troubleshooting .")
logging . info ( " This is informative .")
logging . warning ( " This is a warning message .")
logging . error ( " Uh oh . Something went wrong .")
logging . critical ( " We have a big problem !")

WARNING:root: This is a warning message .
ERROR:root: Uh oh . Something went wrong .
CRITICAL:root: We have a big problem !

In [414]:
num_fruits = 14
fruit_name = " oranges "
logging . error(
    " We ate % d of your % s . Thanks !" ,
    num_fruits , fruit_name )

ERROR:root: We ate  14 of your  oranges  . Thanks !